.root {
  max-width: var(--max-content-width);
  overflow-y: auto;
}

.blogs {
  width: 100%;
  margin: auto;
  padding: 0 var(--space-lg);
}

@media (max-width: $mantine-breakpoint-sm) {
  .blogs {
  }
}
