.main {
  width: 100%;
  max-width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-between;
}

.slider-container {
  width: 100%;
  padding: 24px 0 48px 0;
}

.main pre {
  font-size: var(--font-size-sm);
}
