.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--space-lg);
  background-color: var(--white);
  z-index: var(--z-index-header);
}

.header__content {
  max-width: var(--max-content-width);
  height: var(--header-height);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__nav_desktop {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
}

.header__nav_mobile {
  display: none;
}

.menu {
  display: none;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media (max-width: 768px) {
  .menu {
    display: flex;
  }

  .header__nav_desktop {
    display: none;
  }

  .header__nav_mobile {
    display: flex;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    padding: var(--space-lg);
    flex-direction: column;
    gap: var(--space-md);
    align-items: flex-start;
    background-color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: calc(var(--z-index-header) - 1);
    transform: translateY(-100%);
    transition: all 0.3s ease;
  }

  .header__nav_mobile--open {
    transform: translateY(0);
  }
}
