.button {
  width: 36px;
  height: 36px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}

.color-scheme-icon__sun {
  display: block;
}

.color-scheme-icon__moon {
  display: none;
}

[data-mantine-color-scheme="dark"] .color-scheme-icon__sun {
  display: none;
}

[data-mantine-color-scheme="dark"] .color-scheme-icon__moon {
  display: block;
}
